.rz_video > .videoWrapper {
    position: relative;
}

.rz_video > .videoWrapper > iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}