##
## Bitte diese .gitignore Datei immer mit ins GIT einchecken
##

/_bak
Thumbs.db
/.metadata/
/.tmp_*
/.project
/.settings/
.idea/
.sass-cache/
nbproject/
atlassian-ide-plugin.xml
/tags
rukzuk.iml
/build/
/_playground/
/modules-dev-website

/phpMyAdmin/
node_modules/
*.log
*.orig
.vagrant
/global_modules
/modules
vagrant_ansible_inventory_default
packaging/
artifacts/
/reports/
/tools/docker/volume/
/docker/volume/

/app/exports
/app/js/CMS/config/formElements.js
/app/css/login.css
/app/css/login.css.map
/app/css/cms-all.css
/app/css/cms-all.css.map
/app/*.html
/app/lang/lang.js
