.rz_thumbnail_gallery > ul > li {
    display: block;
    position: relative;
    box-sizing: border-box;
    flex-basis: 1px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.rz_thumbnail_gallery > ul {
    display: flex;
    flex-wrap: wrap;
}
.rz_thumbnail_gallery > ul > div:last-of-type {
    flex-basis: 0 !important;
    padding-top: 0 !important;
}
