<phpunit bootstrap="./initBootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">
  <testsuites>
    <testsuite name="rukzuk module test suite">
      <directory>./modules/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="64M"/>
  </php>
</phpunit>
