body.RUKZUKenableSelectionMarker .rz_timed_container > div.display {
    position: absolute;
    right: 0;
    z-index: 1;
}

.rz_timed_container > div.display {
    display: none;
}

body.RUKZUKenableSelectionMarker .rz_timed_container > div.display {
    display: inline-block;
    background-color: rgba(6, 8, 10, 0.5);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #fff;
    line-height: 16px;
    padding: 0 4px;
    text-shadow: 0px 1px 0px rgba(6, 8, 10, .4);
    vertical-align: top;
    cursor: pointer;
    pointer-events: all !important;
}

body.RUKZUKenableSelectionMarker .rz_timed_container > div.display:before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    left: 0px;
    height: 0;
    top: -1px;
    border-top: 1px dotted rgba(255, 255, 255, .5);
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
}
